body {
  background: #272823;
  padding-top: 5em;
  justify-content: center;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: .15em;
  margin: 0px;
}

html {
  scroll-behavior: smooth;
}

.navbar {
  margin: -5em 0 5em;
  background-color: transparent;
  font-family: 'Montserrat', sans-serif;
}

.navbar-nav {
  padding: 0 3em;
}

.navbar li a {
  color: black;
  font-weight: bold;
}

/*.navbar.sticky-top.scrolled {
  background-color: #4b4d45 !important; !important;
  transition: background-color 200ms linear;
}*/

.navbar.sticky-top.scrolled {
  background-color: #4b4d45 !important;
  background-size: 400% 400%;
  -webkit-animation: fade-nav 30s ease 1s;
  animation: fade-nav 30s ease 1s;
  transition: background-color 500ms linear;
}

@-webkit-keyframes fade-nav {
    0%{background-position:0% 0%}
    100%{background-position:100% 50%}
}
@keyframes fade-nav {
    0%{background-position:0% 0%}
    100%{background-position:100% 50%}
}

.container {
  /*Prevents content from stretching over-width on mobile*/
  overflow-x: hidden;
  margin-top: 4em;
  margin-bottom: 3em;
}

p {
  font-size: 17px;
  margin: 1em 2em;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: .10em;
}

h1 {
  font-size: 100px;
  font-weight: bold;
  margin: 25px 50px;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: .10em;
}

h2 {
  font-size: 40px;
  font-family:'Montserrat', sans-serif;
  letter-spacing: .10em;
}

h3{
  font-size: 20px;
}

a {
  color: white;
}

a:hover {
 text-decoration: underline;
 text-decoration-color: #FFD390;
 color: white;
}

.page-title {
  width: 100%;
  text-align: center;
}

.section-title {
  margin: auto;
  width: 70%;
  text-align: center;
  padding: 10px;
}

.typewriter h3 {
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid #FFD390; /* The typewriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0px auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation:
    typing 3.5s steps(20, end),
    blink-caret .5s step-end infinite;
}

@media only screen and (min-width: 925px) {
  .mobile-br {
    display: none;
  }
}

.center {
  margin: 0 auto;
  width: 25vw;
  text-align: center;
  border: 1px solid #272823;
  padding: 7px;
  font-size: 50px;
}

@media only screen and (max-width: 1210px) {
  /*apply these rules if screen width < 1100px*/
  h1 {
    font-size: 45px;
  }
  h2 {
    font-size: 30px;
  }
  .center {
    width: 40%;
  }
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/*About section*/
.about h3 {
  text-transform: uppercase;
  padding: 0 30px;
}

#about-image {
  width: 35vw;
  max-width: 600px;
  height: auto;
  padding: 0 30px 50px;
  margin: auto 0;
}

@media only screen and (max-width: 991px) {
  #about-image {
    width: 50vw;
  }
  .section-title {
    width: 100%;
  }
}

.about p {
  padding: 0 30px;
  color: white;
}

.get-involved {
  padding: 0 30px;
  margin: 1em 2em;
  text-align: left;
}

/*Info section*/
.info {
  border: 5px solid#FFD390;
  padding-bottom: 2em;
}

.info .get-involved {
  margin-top: 0;
}

.info h3 {
  text-transform: uppercase;
  padding: 0 30px;
}

.info p {
  padding: 0 30px;
  color: white;
}

.info summary {
  padding: 0 30px;
  margin: 1em 2em;
}

.info .details-text {
  padding: 0 30px;
}

.info-summary .get-involved {
  padding-right: 0;
  margin-right: 0;
}

.info-details {
  margin-top: 1em;
}

#info-image {
  width: 20vw;
  max-width: 300px;
  height: auto;
  margin: auto 0;
  position: relative;
  left: -20%;
}

@media only screen and (max-width: 925px) {
  .info .get-involved {
    padding: 0;
    margin: 0;
  }
  .info {
    border: 0;
    padding-bottom: 0;
  }
  .info .details-text {
    padding: 0;
  }
  .info details .get-involved {
    padding-left: 60px;
  }
}

@media only screen and (max-width: 995px) {
  .info-image-container {
    display: none;
  }
}

/*FAQ section*/
.faq details {
  margin: 2rem;
  border-radius: 10px;
  border-color: white;
}

.faq summary {
  width: 100%;
  padding: 20px;
  padding-left: 25px;
  font-size: 20px;
  border: 1px solid white;
  transition-duration: 0.5s;
  box-shadow: 0 10px 12px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
}

.faq summary:hover {
  transform: scale(1.05);
  color: #FFD390;
  border-color: #FFD390;
}

summary:focus {
  outline: none;
}

.faq details p {
  margin: 1em;
  font-size: 16px;
}

.faq details[open] summary:before {
  transform: rotate(90deg);
}

.faq details[open] > summary ~ * {
  animation: open 1s ease;
}
@keyframes open {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.faq summary {
  font-size: 17px;
}

.btn-outline-primary {
  box-shadow: 0 10px 12px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
  border: 0;
  border-radius: 0;
  color: white;
  background-color: #202020;
  padding: 10px;
  margin-right: 10px;
  margin-bottom: 1em;
}

.btn-outline-primary:hover {
  transform: scale(1.05);
  background-color: #272823;
}

.btn-outline-primary:active {
  background-color: #272823 !important;
  border: 0;
  box-shadow: none;
}

.btn-outline-primary:focus {
  border: 0;
  box-shadow: none;
}

.hr {
  border-top: 1px solid #FFD390;
  border-bottom: 1px solid #FFD390;
}

/*Sponsors section*/
.sponsors {
  overflow: hidden;
}

.sponsors img {
 width: 8vw;
 max-width: 135px;
 height: auto;
 transition-duration: 0.5s;
 padding: 10px 0 ;
 box-shadow: 0 10px 10px -2px #272823, 0 10px 10px -5px rgba(0, 0, 0, 0.04);
}

.sponsors img:hover {
  transform: scale(1.05);
}

/*Footer*/
footer {
  text-align: center;
  background-color:#FFD390;
  height: 8.6em;
}

.contact {
  padding: 5px;
}

.contact a {
  color:black;
  margin-top: 10px;
  padding: 5px;
}

.contact p {
  color: black;
  margin-top: 20px;
}

.contact a i:hover {
  color: orange;
}

.contact i {
  padding-left: 10px;
  font-size: 25px;
}