body {
  background: #272823;
  padding-top: 5em;
  justify-content: center;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: .15em;
}

p {
  font-size: 16px;
  margin: 1em 2em;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: .10em;
}

h1 {
  font-size: 100px;
  font-weight: bold;
  margin: 25px 50px;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: .10em;
}

h2 {
  font-size: 40px;
  font-family:'Montserrat', sans-serif;
  letter-spacing: .10em;
}

h3{
  font-size: 20px;
}

.typewriter h3 {
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid orange; /* The typewriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0px auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation:
    typing 3.5s steps(20, end),
    blink-caret .5s step-end infinite;
}

.center {
  margin: auto;
  width: 23%;
  text-align: center;
  border: 1px solid #272823
  padding: 7px;
  font-size: 50px;
}

.qa {
  margin: auto;
  width: 70%;
  text-align: center;
  border: 2px solid #272823
  padding: 10px;
  font-size: 50px;
}

@media only screen and (max-width: 1100px) {
  /*apply these rules if screen width < 1575px*/
  .typewriter h1 {
    font-size: 9vw;
  }
  .center {
    width: 40%;
  }
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

.about {
  margin-bottom: 2em;
  margin-top: 3em;
}

.about h3 {
  text-transform: uppercase;
}

.about img {
  width: inherit;
  height: auto;
}

/*FAQ section*/
.faq {
  padding: 2rem;
  text-align: left;
}

.faq details {
  margin: 2rem;
  border-radius: 10px;
  border-color: white;
}

.faq summary {
  width: 100%;
  padding: 20px;
  padding-left: 25px;
  font-size: 20px;
  border: 2px solid white;
  transition-duration: 0.5s;
}

.faq summary:hover {
  transform: scale(1.10);
  color: orange;
  border-color: orange;
}

.faq summary:focus {
  outline: none;
}

.faq details p {
  margin: 1em;
  font-size: 16px;
}

.faq details[open] summary:before {
  transform: rotate(90deg);
}

.faq details[open] > summary ~ * {
  animation: open 1s ease;
}
@keyframes open {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.faq summary {
  font-size: 17px;
}

.button {
  margin: 25px 50px;
  length: 100px;
  width: 50px;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: flex;
  font-size: 16px;
  float:left;
  margin-right: 50px;
  margin-left: 50px;
}


.button:hover {
  transform: scale(1.10);
}

.hr {
    border: 0;
    height: 0;
    border-top: 1px solid orange;
    border-bottom: 1px solid orange);
}

.image { 
float: left;
height: 500px;
width: 400px;
}

